html{
	background-color:#dddddd;
}
html, body{
	overflow-x:hidden;
}

.button {
  font-size: 15px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: black;
  padding: 2px 6px 2px 6px;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
}

#logoandmotto{
	float:left;
	position:sticky;
	top:0;
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}
#logo img{
	width:200px;
	display:inline;
}
#motto{
	margin:0;
	margin-bottom:10px;
	padding:0;
	display:block;
	font-family:"Courier New";
}
#motto h1{
	font-family:"Georgia";
}
#login{
	float:right;
}

@media screen and (max-width: 600px){ /*i'm pretty sure that this doesn't work*/
	#navbar ul, #navbar li, #navbar a {float:none;}
}
#navbar{
	margin-top:10px;
}
#navbar ul{
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline-block;
	top:0px;
	position:sticky;
	background-color:#aaaaaa;
}
#navbar ul li{
	min-width:100px;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
#navbar ul a{
	display:block;
	padding:8px;
	color:white;
	text-decoration:none;
	background-color:none;
}
#navbar ul li:hover{
	background-color: #111;
}
#navbar ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#999;
	padding:0;
}
#navbar ul ul li{
	float:none;
	width:100px;
}
#navbar ul ul a{
	line-height:120%;
	padding:10px 15px;
}
#navbar ul ul ul{
	top:0;
	left:100%;
}
#navbar ul li:hover > ul{
	display:block;
}
.current-page{
	background-color:#222;
}

#welcome, #aboutus, #fotd{
	text-align:center;
}

#fotd h1{
	font-family:"Impact";
	font-size:70px;
}
#fotd h2{
	font-family:"Verdana";
	font-size:40px;
}
#fotd h3{
	font-style:italic;
}

#categories{
	text-align:center;
}
#categories h2{
	font-family:"Arial";
	font-style:Italic;
	font-size:20px;
}
#categories ul{
	list-style-type:none;
	margin:0;
	padding:0;
	font-size:20px;
}

#categories ul a{
	text-decoration:none;
	color:black;
	font-family:"Verdana";
}

#categories ul a:hover{
	font-weight:Bold;
}

.product{
	float:left;
	margin:0px;
	padding:10px;
}

.product .product-image img{
	width:200px;
}
.product .product-description{
	font-style:italic;
	width:200px;
}

/* From style.css - checkout and payment pages */

#shopping-cart {
	margin: 40px;
}

#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#coupon {
	float: left;
}

#couponBtn {
	position:relative;
	border:none;
	 padding: 10px 5px;
	 display: inline-block;
	 font-size: 14px;
	 letter-spacing: 0.3px;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	height: 80px;
    width: 80px;
	float: left;
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
}

.product-image img {
	max-width:100%;
	max-height:100%;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}
	